.body-section {
  max-width: 1140px;
  margin: 0 auto;
}

.hero-body {
  background-image: url('./img/Houston4.png');
  background-size: cover;
  height: auto;
}
.ml12 {
  font-weight: 200;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}
nav {
  margin: 0 auto;
  max-width: 1140px;
}
.card-info {
  text-align: center;
  transition: all 0.2s ease-in;
}
.card-info:hover {
  box-shadow: 0px 20px 35px -6px black;

  transform: scale(1.02);
}
.banner-1 {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  padding: 80px 0 80px 0;
}

.banner-1 span {
  border-style: solid;
  border-bottom-width: 3px;
  border-color: rgb(230, 36, 73);
  width: 50%;
  margin: 0px auto;
  display: block;
}
.title-banner {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  padding: 80px 0 80px 0;
}

.title-banner {
  border-style: solid;
  border-bottom-width: 3px;
  border-color: rgb(230, 36, 73);
  width: 10%;
  margin: 0px auto;
  display: block;
}
.image {
  height: 300px;
  width: 300px;
}
