
.hero-body{
    background-image: url("./img/Houston4.png");
    background-size: cover;
    height:auto
}
nav{
    margin: 0 auto;
    max-width: 1140px;
}
.card {
    text-align: center;
}
.banner-1 {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0 80px 0;
}

.banner-1 span {
        border-style: solid;
        border-bottom-width: 3px;
        border-color: rgb(230, 36, 73);
        width: 30%;
        margin: 0px auto;
        display: block; 
}
.card-section{
  
        max-width: 1140px;
        margin: 0 auto;

}